<div class="container">
    
    <div class="row">
        <h5>{{aim}}</h5>
        <div class="col-3"></div>
        <div class="col-6 log" style="margin-left: 100px;">
           
            <h5 style="text-align: center;">Login Here</h5>
            <div style="padding-top: 20px;padding-left: 20px; ">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" >Account Number</label>
                    <input type="text" class="form-control" (change)="fetchAcc($event)" [value]="acNum" style="width:200px; border-color: black;" id="acNo">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" (change)="fetchpswd($event)" id="pwd" style="width:200px ; border-color: black;">
                </div>
  
                <button type="submit" class="btn btn-secondary" (click)="authentication()">Submit</button>
  
                <p id="error" style="color: red;"></p>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
  </div>
