.log {
            
    border: 1px solid black;
    width: 270px;
    height: 450px;
    margin-top: 100px;
    border-radius: 5%;
    background-color: rgb(51, 48, 48);
   
    color: white;
    
}

.errors{
    color: red;
}
img{
    
    width: 500px;
    height: 500px;
}
nav a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
}